:root {
    --primary: #835afd;
    --primary-dark: #49367f;
    --secondary: #e559f9;
    --secondary-dark: #830595;
    --text: #29292e;
    --text-dark: #F4F0FF;
    --bg: #f8f8f8;
    --bg-dark: #29292e;
}